<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>C.R.A.S.H.</h1>
        <h2>Collision Reducing Application Saves Humans</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <partial name="_CookieConsentPartial" />

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>Our Mission</h2>
                <h4>Provide accessible, searchable data on crashes</h4>
                <h4>Inform about factors behind crash severity</h4>
                <h4>Help policymakers know where to focus their efforts</h4>
                <br />
                <h3><span>Website Features</span></h3>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                        <span>01</span>
                        <h4>Policy Portal</h4>
                        <p>Calculate hypothetical crash severity and learn about the factors behind deadly crashes</p>
                        <br />
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="100">
                        <span>02</span>
                        <h4>Data Depository</h4>
                        <p>Filterable data from all car crashes in Utah from 2016 to 2019 </p>
                        <br />
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <span>03</span>
                        <h4>Future Forcasts</h4>
                        <p>Check out the impact of policy changes. Input a percentage change for a feature and see how average severity is affected. </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
                    <img src="~/assets/img/carCrash.jpg" width="550" />
                    <a href="https://www.abc4.com/news/local-news/utah-car-crashes-kill-more-people-in-2021-than-in-the-last-11-years-data-shows/"></a>
                </div>

                <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <div class="box-heading" data-aos="fade-up">
                        <h4>About the Data</h4>
                        <h3>Using history to build a safer future</h3>
                        <p>
                            The data for the information on this website is pulled from began with crashes from the years 2016 to 2019
                            and we have implemented the capability to add crashes; this could be used to add to crashes from previous years
                            or to continue using this site for years to come. 
                        </p>
                        </br>
                        <p>
                            Both lawmakers and citizens alike should feel comfortable to use Yeet to learn about vehicle safety. The end
                            goal for all is to reduce and eventually wipe out vehicle related deaths. The predictor function is a great tool
                            to educate oneself or others on what factors decrease crash severity.
                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Dine Pad</a></h4>
                        <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
                    <div class='tableauPlaceholder' id='viz1649357033320' style='position: relative'><noscript><a href='#'><img alt='Average Crash Severity per County ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex2_a&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='1' /><param name='name' value='Intex2_a&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex2_a&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>
                    <script type='text/javascript'>var divElement = document.getElementById('viz1649357033320'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                </div>

               
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="252500" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Records</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="960" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Fatal Crashes</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Years of Data</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1.43" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Average Crash Severity</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Real Lives</h3>
                <p>
                    Just last weekend on Friday a rollover accident killed 17 year-old Gage Manning and his 18 year-old cousin, River
                    Manning. It is far too easy to see data and forget the families and community affected behind each of these crashes.
                    In the car with Gage and River was a 19 year-old male driver and two females of high school age, one of whom
                    sustained a broken hip. Links below are provided to GoFundMe pages to help the Manning family.
                </p>
                <a class="cta-btn" href="https://www.gofundme.com/f/j29rf-gages-medical-and-funeral-expenses">GoFundMe for Gage</a>
             
                <a class="cta-btn" href="https://www.gofundme.com/f/river-manning-memorial-fund">GoFundMe for River</a>

            </div>

        </div>
    </section><!-- End Cta Section -->
    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>Team</h2>
                <h3>Our Hard Working <span>Team</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/team/Craythorne.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Crayfish</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    

</main><!-- End #main -->