@model IEnumerable<CarCrash>
<br />
<br />
<h3 class="text-light">Bookstore Selection</h3>

@foreach (CarCrash c in Model)
{
    <partial name="CrashSummary" model="c" />
}

@*<div page-turn="@Model.PageInfo" page-action="SummaryData"
     page-class="btn" page-class-normal="bg-light"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"
     page-class-enabled="true"></div>*@
