@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

<!DOCTYPE html>


<html>

<head>
    <title>Yeet Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <base href="/" />
</head>

<body>
    <component type="typeof(Intex2ABBCAuthentication.Areas.Identity.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>



</body>

</html>