@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<form asp-action="SummaryData" method="post">
    <label>Year</label>
    <input/>

    <label>Month</label>
    <input/>

    <label>City</label>
    <input/>

    <label>County</label>
    <input/>

    <label>Severity</label>
    <input/>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Filter Results" />
    </div>

</form>